$bacground-color: #F9FAFB;
$primary-color: #FFFFFF;
$border-color: #E0E2E7;
$border-color-submit: #F1F1FF;
$supporting-text-color: #475467;
$heading-input-text-color: #101828;

$button-two-text-color: #614BF2;
$button-two-text-color-disabled: #F7F7FD;
$button-two-color: #F1F1FF;
$button-two-color-hover: #E8E7FF;
$button-two-color-active: #F1F1FF;
$button-two-color-disabled: #F7F7FD;
$button-box-shadow-two-bc-color-active: #F4EBFF;

$button-one-text-color: #fff;
$button-one-color: #6F6BFC;
$button-one-color-hover: #614BF2;
$button-one-color-active: #6F6BFC;
$button-one-color-disabled: #C9C8FF;
$button-box-shadow-one-color-active: #F4EBFF;

$button-three-text-color: #fff;
$button-three-color: #6F6BFC;
$button-three-color-hover: #614BF2;
$button-three-color-active: #6F6BFC;
$button-three-color-disabled: #C9C8FF;




